<div class="container">
  <% if @user.funded_deeds == [] %>
    <div class="row justify-content-center">
      <h2> <%=@user.username%> hasn't funded any deeds yet...</h2>
    </div>
  <% else %>
    <%= render 'deed_index'%>
  <% end %>
