<body id="about">
  <br>
  <br>
  <div class="jumbotron-about">
    <h1 class="m-3 text-center page-header"> How Small Change Works</h1>
    <div class="container">
      <br>
      <div class="row">
        <div class="col-sm ">
          <div class="card about-card" style="width: 20rem;" id ="jumbotron-cards">
            <i class="fas fa-piggy-bank fa-6x m-3 about-button-icon text-center" style="color: #56CC9D"></i>
            <br>
            <div class="card-body">
              <h4 class="text-center" > 1. Load Your Wallet</h4>
              <p class="card-text text-center">All money is handled in the central Small Change account, in order to cut down on transaction fees.</p>
            </div>
          </div>
        </div>
        <div class="col-sm ">
          <div class="card" style="width: 20rem;">
            <i class="fas fa-hand-holding-heart fa-6x m-3 about-button-icon text-center" style="color: #6CC3D5;"></i>
            <br>
            <div class="card-body">
              <h4 class="text-center" > 2. Fund a Deed</h4>
              <p class="card-text text-center">When you fund a deed, you pledge to give it $1. So, a goal of $50, needs 50 to contribute.</p>
            </div>
          </div>
        </div>
        <div class="col-sm ">
          <div class="card" style="width: 20rem;">
            <i class="fas fa-funnel-dollar about-button-icon fa-6x m-3 text-center"></i>
            <br>
            <div class="card-body">
              <h4 class="text-center" > 3. See Change Happen</h4>
              <p class="card-text text-center">Once a deed reaches its goal, money from the Small Change account is transfered to the Deed creator. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
