<h1> Welcome to small Change</h1>


 <% if flash[:notice].present? || flash[:alert].present? %>
      <div class="flash-message">
        <%= flash[:notice] || flash[:alert] %>
      </div>
    <% end %>
