/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */
 

 $theme-colors: (

  "primary":   #78C2AD,
  "secondary":  #F3969A,
  "success":    #56CC9D,
  "info":       #6CC3D5,
  "warning":    #FFCE67,
  "danger":     #FF7851,
  "light":      #f8f9fa,
  "dark":       #343a40,


);

.img-profile {
  border-radius: 50%;
}

#home {
  background:url(asset-path('community_bg.jpg')) 0px 0px;
}

#about{
  background:url(asset-path('about_bg.jpg')) 0px 0px;
}
#user-profile{
  
  background:url(asset-path('about_bg.jpg')) 0px 0px;
 
}



body { 
  background:url(asset-path('cream_dust.png')) 0px 0px;
}

.jumbotron {
  opacity: .75;
  font-family: 'Lobster', Georgia, Times, serif;
}

.jumbotron > .lead { 
  width: 50%; 
  display:flex;
  flex-direction: row;
  padding-right: 15px;
}

.jumbotron-about {
  width: 100%;
  padding: 30px;
  padding-bottom: 50px;
    background: rgba(255, 255, 255, 0.85);
 
  }

#jumbotron-cards {
    opacity: 1;

  }

.flex-input { 
  display:flex;
  flex-direction: row;
  margin: 0 auto;
}
.name-input { 
  width: 50%;
  padding-right: 15px;
}

.navbar, .nav-link {
color:  #f8f9fa;
font-size: 18px;
}
.right-navbar {
  
  }
  


* {
  font-family: 
  //"Lucida Console", Monaco, monospace;
  //"Verdana", Geneva, sans-serif; 
  'Nunito', sans-serif;
 }

p {
 font-family: 'Nunito', sans-serif;
 font-size: 15px;
 line-height: 25px;
}
h1, h2, h3, h4, h5 {
  font-family: 'Lobster', 'Nunito', Times, serif;
  font-size: 70px;
  line-height: 100px;
 }


 .small-change-icon {
  font-family: 'Lobster', Georgia, Times, serif;
  color:  #f8f9fa;
  font-size: 26px;
}

 .card-header {
  font-family: 'Lobster';
 }

 .page-header {
  font-family: 'Lobster';
 }



// DEED INDEX

.index-button-icon {
  color:  #F3969A;
  size: 5x;
  
}

.about-button-icon {
  color:  #F3969A;
  size: 6x;
  
}

.index-button-icon-info {
  color:  #6CC3D5;
  size: 5x;
}


#deed-index .card {
  max-height: 450;
  
}

#deed-index .card-header {
  height: 80px;
}

#deed-index .card-title {
  text-align: center;
}



.deed_container 
{
height: 200px;
object-fit: none;
}

#deed-buttons-container {
display: flex;                  /* establish flex container */
flex-direction: row;            /* default value; can be omitted */
flex-wrap: nowrap;              /* default value; can be omitted */
justify-content: space-between; /* switched from default (flex-start, see below) */

}
#deed-buttons-container button {
border: none;
}


@import "bootstrap";
@import "font-awesome";




.progress-bar { 
  background-color: #6CC3D5;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: #78C2AD;
  color: white;
  text-align: center;
}


// COMENT SECTION 

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}


.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.dialogbox .body {
  position: relative;
  max-width: 600px;
  height: auto;
  margin: 20px 10px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
}


.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}