/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */
 

 $theme-colors: (

  "primary":   #78C2AD,
  "secondary":  #F3969A,
  "success":    #56CC9D,
  "info":       #6CC3D5,
  "warning":    #FFCE67,
  "danger":     #FF7851,
  "light":      #f8f9fa,
  "dark":       #343a40,


);

.navbar, .nav-link {
color:  #f8f9fa;
}
.right-navbar {
  
  }
  


* {
  font-family: 
  //"Lucida Console", Monaco, monospace;
  //"Verdana", Geneva, sans-serif; 
  'Nunito', sans-serif;
 }


 .small-change-icon {
  color:  #f8f9fa;
}

.index-button-icon {
  color:  #F3969A;
  size: 5x;
  
}


#deed-index .card {
  height: 450px;
}

#deed-index .card-header {
  height: 80px;
}

#deed-index .card-title {
  text-align: center;
}

// IMAGES

.deed_container 
{
height: 200px;
object-fit: none;
}

#deed-buttons-container {
display: flex;                  /* establish flex container */
flex-direction: row;            /* default value; can be omitted */
flex-wrap: nowrap;              /* default value; can be omitted */
justify-content: space-between; /* switched from default (flex-start, see below) */

}
#deed-buttons-container button {
border: none;
}


@import "bootstrap";
@import "font-awesome";




.progress-bar { 
  background-color: #6CC3D5;
}

